h1,h2,h3,h4,h5,h6,a,p{
    color: #555555;
}
.assignmentcontainer{
    border-bottom: #555555 solid thin;
    display: flex;
    padding: 10px;
}
.assignmentimg{
    padding: 20vh;
    background-color: #555555;
}