h1,h2,h3,h4,h5,h6,a,p{
    color: #555555;
}
.booknav {
    width: 100vw;
}
.books{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    padding: 2%;
}
.bookimg{
    width:100%;
    height: 300px;
    background-color: #555555;
}
.booktype{
    display: flex;
}