<div *ngIf="current == -1" class="beforetest">
    <h1 class="testbegin">Start Quiz</h1>
    <h3 class="testname">{{gettopic()}}</h3>
    <h5 class="testadv">You have 5 minutes to complete the quiz so get everything ready before you start</h5>
    <button (click)="startquiz()" id="startbut">start</button>
</div>
<div *ngIf="current > -1 && 6 > current">
    <div *ngFor="let quest of getque()">
        <div class="questionimg"></div>
        <div id="timecount">
            <h1>Remaining time: {{timemin}}:{{timesec}}</h1>
        </div>
        <div>
            <h2 [innerHTML]="evaluate(quest.questions[current].question.toString())"></h2>
            <span class="bar">
                <input type="radio" [value]="quest.questions[current].opt1" name="questionopt" [(ngModel)]="answers[current]"/>
                <p [innerHTML]="evaluate(quest.questions[current].opt1)"></p>
            </span>
            <span class="bar">
                <input type="radio" [value]="quest.questions[current].opt2" name="questionopt" [(ngModel)]="answers[current]"/>
                <p [innerHTML]="evaluate(quest.questions[current].opt2)"></p>
            </span>
            <span class="bar">
                <input type="radio" [value]="quest.questions[current].opt3" name="questionopt" [(ngModel)]="answers[current]"/>
                <p [innerHTML]="evaluate(quest.questions[current].opt3)"></p>
            </span>
            <span class="bar">
                <input type="radio" [value]="quest.questions[current].opt4" name="questionopt" [(ngModel)]="answers[current]"/>
                <p [innerHTML]="evaluate(quest.questions[current].opt4)"></p>
            </span>
        </div>
        <div id="navigatequestions">
            <span>
                <button (click)="getprevquestion()" class="questionnavbutton"></button>
                <h4>previous question</h4>
            </span>
            <span>
                <h2>{{current+1}}/{{quest.questions.length}}</h2>
            </span>
            <span>
                <h4>next question</h4>
                <button (click)="getnextquestion(quest.questions[current].question,answers[current],quest.questions[current].ans)" class="questionnavbutton"></button>
            </span>
        </div>
    </div>
</div>
<div *ngIf="current == 6">
    <h1>Your Score: {{score}}/6</h1>
    <h1>Corrections</h1>
    <div *ngFor="let ans of final">
        <h2 [innerHTML]="'Question: '+evaluate(ans.ques)"></h2>
        <p [innerHTML]="'Your Answer: '+evaluate(ans.chosenans)"></p>
        <p [innerHTML]="'Actual Answer: '+evaluate(ans.actual)"></p>
        <div id="correct" *ngIf="ans.scorrect == true">Correct Answer</div>
        <div id="incorrect" *ngIf="ans.scorrect == false">Wrong Answer</div>
    </div>
    <div id="backcategories" (click)="complete_quiz()">Back to Categories</div>
</div>
