<div id="divide">
    <div id="signimg"></div>
    <div>
        <div>
            <h1 id="title">LearnJoy</h1>
        </div>
        <div>
            <h1>Sign up or in</h1>
            <form>
                <input type="text" placeholder="Name" [(ngModel)] ="student.studentname" name="Nameholder" required>
                <br>
                <input type="text" placeholder="Surname" [(ngModel)] ="student.studentsurname" name="Surnameholder" required>
                <br>
                <select  [(ngModel)] ="student.studentclass" name="Classholder">
                    <option value="SS3">SS3</option>
                    <option value="SS2">SS2</option>
                    <option value="SS1">SS1</option>
                </select>
                <br>
                <select  [(ngModel)] ="student.studentdept" name="Deptholder" required>
                    <option value="arts">arts</option>
                    <option value="science">science</option>
                </select>
                <br>
                <a routerLink="/home"><button id="submitbutton" (submit)="addstudent()">Enter</button></a>
                <br>
                    <p>{{students}}</p>
            </form>
        </div>
    </div>
</div>

