<div id="studentinfo">
    <div id="studentimg"></div>
    <div>
        <h1></h1>
        <h3></h3>
        <h5>Class</h5> 
        <a routerLink="/loginorup"><div id="logoutbutton">
            Logout
        </div></a>
    </div>
</div>
<div>
    <h2>Total Assessment of your performance this year</h2>
    <div id="assessments">
        <div class="assess"></div>
        <div class="assess">
            <div class="assessitem">
                <div>
                    <div class="level"></div>
                    <p>Jan</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Feb</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Mar</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Apr</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>May</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Jun</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Jul</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Aug</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Sept</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Oct</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Nov</p>
                </div>
                <div>
                    <div class="level"></div>
                    <p>Dec</p>
                </div>
            </div>
        </div>
    </div>
</div>
